html {
    display: table;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.at-demo {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    width: 1200px;
    text-align: initial;
    min-height: calc(100vh - 40px);
    border-left: 1px solid #f1f0f0;
    border-right: 1px solid #f1f0f0;
    padding: 20px;
}

    .at-demo > h1 {
        margin: 0;
    }

    .at-demo hr {
        height: 1px;
        border: 0px;
        background: #ccc;
    }
.at-wrapper input {
    border: 1px solid #ccc;
    outline: none;
}

.at-wrapper {
    position: relative;
    width: 100%;
    border: 1px solid #f1f0f0;
    border-radius: 2px;
}

.at-wrapper .at-header {
    width: calc(100% - 20px);
    height: 25px;
    padding: 10px;
    border-bottom: 1px solid #f1f0f0;
}

.at-wrapper .at-header .at-view-count {
    display: inline-block;
    float: left;
}

.at-wrapper .at-header .at-view-count input {
    width: 50px;
    height: 24px;
    text-align: center;
    padding: 0;
}

.at-wrapper .at-header .at-search {
    display: inline-block;
    float: right;
    position: relative;
}

.at-wrapper .at-header .at-search input {
    height: 24px;
    padding: 0 30px 0 10px;
}

.at-wrapper .at-header .at-search img {
    position: absolute;
    right: 5px;
    top: 2px;
    width: 20px;
}

.at-wrapper .at-body {

}

.at-wrapper .at-body .at-body-header {

}

.at-wrapper .at-body .at-body-header > div {

}

.at-wrapper .at-body .at-body-rows {

}

.at-wrapper .at-body .at-body-rows > div {

}

.at-wrapper .at-footer {

}

.at-wrapper .at-footer .at-footer-left {

}

.at-wrapper .at-footer .at-footer-left .at-params {

}

.at-wrapper .at-footer .at-footer-right {

}

.at-wrapper .at-footer .at-footer-right .at-paging-wrapper {

}

.at-wrapper .at-footer .at-footer-right .at-paging-wrapper .at-page {

}

.at-wrapper .at-footer .at-footer-right .at-paging-wrapper .at-page.at-first {

}

.at-wrapper .at-footer .at-footer-right .at-paging-wrapper .at-page.at-pre {

}

.at-wrapper .at-footer .at-footer-right .at-paging-wrapper .at-page.at-next {

}

.at-wrapper .at-footer .at-footer-right .at-paging-wrapper .at-page.at-last {

}

.at-wrapper .at-loading {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 44px;
    text-align: center;
    margin: 1px;
    border-radius: 2px;
    background: rgba(0,0,0,.1);
    opacity: .3;
}

.at-wrapper .at-loading > img {
    width: 30px;
    top: calc(50% - 15px);
    position: relative;
}